apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "productservice"
        dapr.io/app-port: "8080"
        dapr.io/enable-api-logging: "true"
    spec:
      serviceAccountName: pubsub-sa
      containers:
      - name: product-service
        image: 660633971866.dkr.ecr.us-east-1.amazonaws.com/introspect1-product:latest
        ports:
        - containerPort: 8080
        env:
        - name: DAPR_PUBSUB_NAME
          value: "orders-pubsub"
        - name: DAPR_TOPIC_NAME
          value: "orders-events"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: microservices
spec:
  selector:
    app: product-service
  ports:
  - port: 80
    targetPort: 8080
  type: ClusterIP